amqplib==1.0.2
anyjson==0.3.1
beautifulsoup4==4.0.0b8
bottle==0.10.9
celery==2.4.6
celery-with-mongodb==2.4.1
distribute==0.6.24
kombu==2.1.0
lxml==2.3.3
mechanize==0.2.5
pika==0.9.5
psutil==0.4.1
pymongo==2.1.1
